body {
  background-color: #ffeef2;
  color: #333;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Tahoma, sans-serif;
  position: relative;
  margin: 0;
  padding: 50px 0;
}

.tarjeta {
  background-color: #fff;
  border: 2px solid #f8c2d2;
  border-radius: 0.5px;
  padding: 80px;
  width: 400px;
  margin: 0 auto;
  text-align: center ;
}

.tarjeta img {
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 20px;
  border: 4px solid #f8a1c4;
  margin-left: auto;
  margin-right: auto;
}

.tarjeta img:hover {
  transform: scale(1.1);
}

.tarjeta h1 {
  font-size: 28px;
  color: #c71585;
}

.ocupacion {
  font-size: 18px;
  color: #d94d9a;
}

.descripcion {
  font-size: 16px;
  color: #555;
}
